:root {
    --main: #006288;
    --dark: #004963;
    --light: #00A6D6;
    --light2: #33B8E7;
    --other: #FF7F50;
    --grey: #CCCCCC;
    --white: #FFFFFF;
  }

#css-header {
    display: flex;
    background-color: var(--main);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#css-home-icon,
#css-info-icon {
    margin: 0 20px;
    color: var(--white);
}

#css-header-title {
    flex: 1;
    text-align: center;
    margin: 0;
    color: var(--white);
}

#css-footer {
    display: flex;
    background-color: var(--main);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

#css-github-icon {
    margin: 0 20px;
    color: var(--white);
}

#css-logo-img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.big-button {
    color: var(--white);
    background-color: var(--light);
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    padding: 50px 50px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.big-button:hover {
    background-color: var(--light2);
}

.button-container {
    text-align: center;
}

#wizard-data-input-upload-data,
#wizard-data-input-upload-params {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 2px dashed var(--light);
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

#wizard-data-input-upload-data:hover,
#wizard-data-input-upload-params:hover {
    border-color: var(--light2);
}

#css-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: auto;
}

#page-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.Select-menu-outer {
    display: block !important;
}

.dash-tab-content {
    padding: 20px;
}

.dash-tab--selected {
    background-color: var(--light);
    color: var(--grey) !important;
}

.dash-tab {
    background-color: var(--main);
    color: var(--grey) !important;
    border: 1px solid var(--light);
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dash-tab:hover {
    background-color: var(--light2);
}

#input-container {
    flex-grow: 1;
    margin: 10px;
    order: 2;
}

#wizard-data-output-upload-data-filename,
#wizard-data-output-upload-params-filename {
    margin-right: 10px;
    margin-left: 10px;
}

#wizard-data-input-remove-upload-data,
#wizard-data-input-remove-upload-params {
    flex-grow: 2;
    margin: 10px;
    order: 1;
    min-width: 25%;
}

#input-upload-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 90%;
}

#data_upload_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.submit-button,
.back-button,
.next-button,
.finish-button,
.remove-button,
#apply-button,
#advanced-settings,
#json-download-button {
    color: var(--white);
    background-color: var(--light);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover,
.back-button:hover,
.next-button:hover,
.finish-button:hover,
.remove-button:hover,
#apply-button:hover,
#advanced-settings:hover,
#json-download-button:hover {
    background-color: var(--light2);
}

/* PROGRESS BAR */

.progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--grey);
    margin-bottom: 5px;
}

.blue-circle {
    background-color: var(--main);
}

.step-label {
    font-size: 14px;
    color: #333;
}

.progress-line {
    width: 2px;
    height: 50px;
    background-color: var(--grey);
    margin-bottom: 10px;
}

.vertical-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-bar {
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-with-side-bar {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
}

#model-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#data-content,
#data-preview-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.params-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.css-radio-items {
    margin: 10px;
    width: 100%;
}

#plot-r-img,
#plot-i-img,
#plot-a-img {
    width: 150px;
    height: auto;
    margin: 10px;
    margin-top: 0;
}

#wizard-model-input-radio-items {
    width: 100%;
}

#wizard-model-input-dropdown-color {
    width: 100px;
    margin: 20px;
}

.css-project-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#css-edit-icon {
    margin: 10px;
    color: var(--main);
}

.fa-solid.fa-question.fa-xs {
    margin: 10px;
    color: var(--main);
}

.css-radio-item {
    margin: 10px;
}

#ia-tab {
    display: flex;
    justify-content: space-around;
}

#viz {
    width: 65%;
}

#ia-options {
    width: 25%;
}

.tab {
    margin-top: 20px;
}

#aop-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.css-help {
    display: flex;
    flex-direction: row;
}